<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatibile" content="IE=edge">
    <title>Afrianska - New Automation Tool for Your Home</title>
    <meta 
      name="description" 
      content=""
    >
    <meta 
      name="keywords" 
      content=""
    >
    <meta name="robots" content="follow, index">
    <meta name="author" content="">
    <link rel="apple-touch-icon" sizes="180x180" href="images/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="images/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="images/favicons/favicon-16x16.png">
    <link rel="manifest" href="data/site.webmanifest">
    <link rel="mask-icon" href="#" color="#ffffff">
    <meta property="og:url" content=""">
    <meta property="og:title" content="">
    <meta property="media-image" content="images/car-1149997_1280.jpg">
    <meta property="ogimage:width" content="200px">
    <meta 
      property="og:description" 
      content=""
    >
    <meta property="og:type" content="webpage">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Sofia+Sans+Semi+Condensed&display=swap" rel="stylesheet">

    
  </head>

  <body>



<!--HEADER-->
<header class="header">
  <div class="header--content">
    <div class="header--title">
      <h1>New Automation Tool for Your Home</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Faucibus tristique vulputate ultrices ut mauris tellus at.
        Posuere sollicitudin odio tellus elit.
      </p>
      <button class="btn btn--primary" type="button">See Our Project
      </button>
    </div>
    <div class="header--image">

    </div>
  </div>
</header>
<!--HEADER-->

<!--WHAT WE DO-->
<section class="capability">
  <div class="content">
    <h2 class="title title--blue">
      What we do to help our client grow in digital era,
    </h2>


    <div class="capability--wrapper">

      <div class="capability--item">
        <img src="images/capability_1.png" alt="Make Your business To Be Better Famous In Internet"/>
        <h4>Make Your business To Be Better Famous In Internet</h4>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit,
          sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </p>
        <div class="capability--item-more">
          <a href="">Learn more</a><img src="images/icons/arrow.svg" alt="Learn more" />
        </div>
      </div>

      <div class="capability--item">
        <img src="images/capability_1.png" alt="Make Your business To Be Better Famous In Internet"/>
        <h4>Make Your business To Be Better Famous In Internet</h4>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit,
          sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </p>
        <div class="capability--item-more">
          <a href="">Learn more</a><img src="images/icons/arrow.svg" alt="Learn more" />
        </div>
      </div>

      <div class="capability--item">
        <img src="images/capability_1.png" alt="Make Your business To Be Better Famous In Internet"/>
        <h4>Make Your business To Be Better Famous In Internet</h4>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit,
          sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </p>
        <div class="capability--item-more">
          <a href="">Learn more</a><img src="images/icons/arrow.svg" alt="Learn more" />
        </div>
      </div>

    </div>
  </div>
</section>
<!--WHAT WE DO-->

<!--CLIENTS-->
<section class="clients">
  <div class="content">

    <div class="clients--subtitle">
    <h2 class="title title--white">
      Our Beloved Client
    </h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
    </div>



    <div class="clients--list">
      <div class="clients--list-item">
        <h4>Logo Client 1</h4>
      </div>
      <div class="clients--list-item">
        <h4>Logo Client 2</h4>
      </div>
      <div class="clients--list-item">
        <h4>Logo Client 3</h4>
      </div>
      <div class="clients--list-item">
        <h4>Logo Client 4</h4>
      </div>
      <div class="clients--list-item">
        <h4>Logo Client 5</h4>
      </div>
      <div class="clients--list-item">
        <h4>Logo Client 6</h4>
      </div>
      <div class="clients--list-item">
        <h4>Logo Client 7</h4>
      </div>
      <div class="clients--list-item">
        <h4>More Client</h4>
      </div>
    </div>


    </div>
</section>
<!--CLIENTS-->

<!--OFFER-->
<section class="offer">
     <div class="content">
      <div class="offer--content">
      <div class="offer--content-text">
      <h2 class="title title--white">
          Intersted to woek
        with our team?
      </h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit,
        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        Ut enim ad minim veniam.
      </p>
      </div>
      <div class="offer--content-action">
      <button class="btn btn--primary open-modal">Let’s Talk</button>
      </div>
    </div>
  </div>
      <div class="hr"></div>
</section>
<!--OFFER-->

<!--FOOTER-->
<section class="footer">
  <div class="content">
      <p>2019 © Afrianska. All rights reserved.</p>
  </div>
</section>
<!--FOOTER-->

<!--MODAL-->
<div class="modal modal-js modal--background">
    <div class="modal--content">
      <div class="modal--close"><img src="images/icons/close.svg" alt="close"></div>
      <div class="modal--content-header"></div>
      <div class="modal--content-body">
        <form class="form">
          <div class="input--wrapper name-field">
            <label>Full Name</label>
            <input class="input name" type="text" placeholder="Your Name"/>
              <div class="error error-name"></div>
          </div>
          <div class="input--wrapper email-field">
            <label>Email</label>
            <input class="input email" type="text" placeholder="Your Email"/>
            <div class="error error-mail"></div>
          </div>
          <button class="btn btn--primary">submit</button>
        </form>
       </div>
    </div>
</div>
<!--MODAL-->


</body>
</html>
