.btn {
  border: 0;
  outline: 0;
  font-size: 1rem;
  border-radius: $rounded;
  width: 220px;
  &:hover {
    cursor: pointer;
  }

  &--primary {
    color: $primary-white;
    background: $primary-blue;
    padding: 15px 48px;
  }
}
