.header {
    width: 100%;
    height: 100vh;
    background: linear-gradient(0deg, #98C3E8 8.84%, rgba(152, 195, 232, 0) 31.12%);
    &--content {
        display: flex;
        flex-direction: row;
        align-items: center;
        height: 100vh;
        padding-left: 6rem;
    }
    &--title {
        width: 40%;
        & h1 {
            font-size: 4rem;
            color: $title-blue;
            margin-bottom: 4rem;
        }
        & p {
            margin-bottom: 4.75rem;
            color: $title-blue;
            letter-spacing: 0.05em;
            opacity: .6;
        }
    }
    &--image {
        width: 60%;
        background: url("../../public/images/header-bg.png") no-repeat center center;
        background-size: contain;
        height: 100%;
    }
}
